{{range ls "/self/service/metadata/elasticsearch/yml"}}
{{.}}: {{getv (printf "/self/service/metadata/elasticsearch/yml/%s" .)}}{{end}}

network.host: 0.0.0.0
bootstrap.mlockall: true

{{range $index, $containerName := ls "/self/stack/services/elasticsearch/containers"}}{{if eq $index 0}}discovery.zen.ping.unicast.hosts:{{end}}
  - {{getv (printf "/self/stack/services/elasticsearch/containers/%s/primary_ip" $containerName)}}{{end}}
